@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Dover Sans Display";
    src: url("https://cdn.earthstar-project.org/fonts/DoverSansDisplay-Regular-Web.woff2") format("woff2"),
      url("https://cdn.earthstar-project.org/fonts/DoverSansDisplay-Regular-Web.woff") format("woff");
  }

  @font-face {
    font-family: "Dover Sans Text";
    src: url("https://cdn.earthstar-project.org/fonts/DoverSansText-Regular-Web.woff2") format("woff2"),
      url("https://cdn.earthstar-project.org/fonts/DoverSansText-Regular-Web.woff") format("woff");
  }

  @font-face {
    font-family: "Dover Sans Text";
    src: url("https://cdn.earthstar-project.org/fonts/DoverSansText-Bold-Web.woff2") format("woff2"),
      url("https://cdn.earthstar-project.org/fonts/DoverSansText-Bold-Web.woff") format("woff");
    font-weight: bold;
  }

  @font-face {
    font-family: "Dover Sans Text";
    src: url("https://cdn.earthstar-project.org/fonts/DoverSansText-Italic-Web.woff2") format("woff2"),
      url("https://cdn.earthstar-project.org/fonts/DoverSansText-Italic-Web.woff") format("woff");
    font-style: italic;
  }
}

@layer utilities {
  

.border-3 {
  border-width: 3px;
}
  
  .border-outset {
    border-style: outset;
  }

  .checked {
    background-color: #f9f7fc;
    opacity: 0.8;
    background-image: repeating-linear-gradient(
        45deg,
        #f5f1ff 25%,
        transparent 25%,
        transparent 75%,
        #f5f1ff 75%,
        #f5f1ff
      ),
      repeating-linear-gradient(
        45deg,
        #f5f1ff 25%,
        #f9f7fc 25%,
        #f9f7fc 75%,
        #f5f1ff 75%,
        #f5f1ff
      );
    background-position: 0 0, 21px 21px;
    background-size: 42px 42px;
  }
}
